@page "/add-alias"
@page "/alias/{id:guid}/edit"

@inject NavigationManager Navigation
@inject AliasService AliasService
@inherits PageBase
@using AliasGenerators.Implementations
@using AliasGenerators.Password.Implementations
@using AliasVault.Shared.Models.WebApi
@using AliasVault.WebApp.Services
@using Password = AliasDb.Password

@if (EditMode)
{
    <LayoutPageTitle>Edit alias</LayoutPageTitle>
}
else {
    <LayoutPageTitle>Add alias</LayoutPageTitle>
}

<div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <div class="mb-4 col-span-full xl:mb-2">
        <Breadcrumb BreadcrumbItems="BreadcrumbItems" />
        <div class="flex items-center justify-between">
            @if (EditMode)
            {
                <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Edit alias</h1>
            }
            else {
                <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Add alias</h1>
            }
        </div>
        @if (EditMode)
        {
            <p>Edit the existing alias below.</p>
        }
        else {
            <p>Create a new alias below.</p>
        }
    </div>
</div>

@if (Loading)
{
    <LoadingIndicator />
}
else
{
    <div class="grid px-4 pt-6 lg:gap-4 dark:bg-gray-900">
        <div class="col">
            <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                <h3 class="mb-4 text-xl font-semibold dark:text-white">Service</h3>
                <div class="grid gap-6">
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Service Name" Value="@(obj.Service.Name)" ValueChanged="@(val => obj.Service.Name = val)"></EditFormRow>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Service URL" Value="@(obj.Service.Url)" ValueChanged="@(val => obj.Service.Url = val)"></EditFormRow>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                <h3 class="mb-4 text-xl font-semibold dark:text-white">Login credentials</h3>
                <div class="mb-4">
                    <button class="px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800" @onclick="GenerateRandomIdentity">Generate Random Identity</button>
                    <button class="px-4 py-2 text-white bg-green-600 rounded-lg hover:bg-green-700 focus:ring-4 focus:ring-green-300 dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-800" @onclick="SaveAlias">Save Alias</button>
                    @if (IsIdentityLoading)
                    {
                        <p>Loading...</p>
                    }
                </div>
                <div class="grid gap-6">
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Email" Value="@(obj.Identity.EmailPrefix)" ValueChanged="@(val => obj.Identity.EmailPrefix = val)"></EditFormRow>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Username" Value="@(obj.Identity.NickName)" ValueChanged="@(val => obj.Identity.NickName = val)"></EditFormRow>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <div class="relative">
                            <EditFormRow Label="Password" Value="@(obj.Password.Value)" ValueChanged="@(val => obj.Password.Value = val)"></EditFormRow>
                            <button type="submit" class="text-white absolute end-1 bottom-1 bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800" @onclick="GenerateRandomPassword">(Re)generate Random Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid px-4 pt-6 lg:gap-4 dark:bg-gray-900">
    <div class="col">
        <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
            <h3 class="mb-4 text-xl font-semibold dark:text-white">Identity</h3>
                <div class="grid gap-6">
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="First Name" Value="@(obj.Identity.FirstName)" ValueChanged="@(val => obj.Identity.FirstName = val)"></EditFormRow>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Last Name" Value="@(obj.Identity.LastName)" ValueChanged="@(val => obj.Identity.LastName = val)"></EditFormRow>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Gender" Value="@(obj.Identity.Gender)" ValueChanged="@(val => obj.Identity.Gender = val)"></EditFormRow>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Nick Name" Value="@(obj.Identity.NickName)" ValueChanged="@(val => obj.Identity.NickName = val)"></EditFormRow>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Birth Date" Value="@(obj.Identity.BirthDate)" ValueChanged="@(val => obj.Identity.BirthDate = val)"></EditFormRow>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Address Street" Value="@(obj.Identity.AddressStreet)" ValueChanged="@(val => obj.Identity.AddressStreet = val)"></EditFormRow>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Address City" Value="@(obj.Identity.AddressCity)" ValueChanged="@(val => obj.Identity.AddressCity = val)"></EditFormRow>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Address State" Value="@(obj.Identity.AddressState)" ValueChanged="@(val => obj.Identity.AddressState = val)"></EditFormRow>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Address Zip Code" Value="@(obj.Identity.AddressZipCode)" ValueChanged="@(val => obj.Identity.AddressZipCode = val)"></EditFormRow>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Address Country" Value="@(obj.Identity.AddressCountry)" ValueChanged="@(val => obj.Identity.AddressCountry = val)"></EditFormRow>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Hobbies" Value="@(obj.Identity.Hobbies)" ValueChanged="@(val => obj.Identity.Hobbies = val)"></EditFormRow>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Phone Mobile" Value="@(obj.Identity.PhoneMobile)" ValueChanged="@(val => obj.Identity.PhoneMobile = val)"></EditFormRow>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <EditFormRow Label="Bank Account IBAN" Value="@(obj.Identity.BankAccountIBAN)" ValueChanged="@(val => obj.Identity.BankAccountIBAN = val)"></EditFormRow>
                    </div>
                </div>
        </div>
    </div>
        <button class="px-4 py-2 text-white bg-green-600 rounded-lg hover:bg-green-700 focus:ring-4 focus:ring-green-300 dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-800" @onclick="SaveAlias">Save Alias</button>
    </div>

@if (IsSaving)
{
    <p>Saving...</p>
}

}

@code {
    [Parameter]
    public Guid? Id { get; set; }

    private bool EditMode = false;
    private bool Loading = true;
    private Alias obj = new Alias();

    private bool IsIdentityLoading { get; set; }
    private bool IsSaving { get; set; }

    protected override void OnInitialized()
    {
        if (Id.HasValue)
        {
            // Edit mode
            EditMode = true;
        }
        else
        {
            // Add mode
            EditMode = false;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (EditMode)
        {
            BreadcrumbItems.Add(new BreadcrumbItem { DisplayName = "Edit alias" });
        }
        else
        {
            BreadcrumbItems.Add(new BreadcrumbItem { DisplayName = "Add new alias" });
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (EditMode)
            {
                if (Id is null)
                {
                    Navigation.NavigateTo("/404");
                    return;
                }

                // Load existing obj, retrieve from service
                var alias = await AliasService.LoadAliasAsync(Id.Value);
                if (alias is null)
                {
                    Navigation.NavigateTo("/404");
                    return;
                }

                alias = obj;
            }
            else
            {
                // Create new obj
                obj = new Alias();
                obj.Identity = new Shared.Models.WebApi.Identity();
                obj.Service = new Shared.Models.WebApi.Service();
                obj.Password = new Shared.Models.WebApi.Password();
            }

            // Hide loading spinner
            Loading = false;
            // Force re-render invoke so the charts can be rendered
            StateHasChanged();

        }
    }

    private async Task GenerateRandomIdentity()
    {
        IsIdentityLoading = true;
        StateHasChanged();

        // Generate a random identity using the IIdentityGenerator implementation.
        var identity = await AliasService.GenerateRandomIdentityAsync();

        // Generate random values for the Identity properties
        obj.Identity.FirstName = identity.FirstName;
        obj.Identity.LastName = identity.LastName;
        obj.Identity.NickName = identity.NickName;
        obj.Identity.Gender = identity.Gender == 1 ? "Male" : "Female";
        obj.Identity.BirthDate = DateTime.Now.AddYears(-30).ToString("yyyy-MM-dd");
        obj.Identity.AddressStreet = identity.Address.Street;
        obj.Identity.AddressCity = identity.Address.City;
        obj.Identity.AddressState = identity.Address.State;
        obj.Identity.AddressZipCode = identity.Address.ZipCode;
        obj.Identity.AddressCountry = identity.Address.Country;
        obj.Identity.Hobbies = identity.Hobbies.First();
        obj.Identity.EmailPrefix = identity.EmailPrefix;
        obj.Identity.PhoneMobile = identity.PhoneMobile;
        obj.Identity.BankAccountIBAN = identity.BankAccountIBAN;

        // Generate password
        GenerateRandomPassword();

        IsIdentityLoading = false;
        StateHasChanged();
    }

    private void GenerateRandomPassword()
    {
        // Generate a random password using a IPasswordGenerator implementation.
        IPasswordGenerator passwordGenerator = new SpamOkPasswordGenerator();
        obj.Password.Value = passwordGenerator.GenerateRandomPassword();
    }

    private async Task SaveAlias()
    {
        IsSaving = true;
        StateHasChanged();

        // Try to extract favicon from service URL
        // TODO: Fix favicon extraction
        /*if (obj.Service.Url != null  && !string.IsNullOrEmpty(obj.Service.Url))
            {
            obj.Service.Logo = await FaviconExtractor.FaviconService.GetFaviconAsync(obj.Service.Url);
        } */

        // Sanity check for unittest. Delete later if not needed.
        // Try to parse birthdate as datetime. if it fails, set it to empty.
        if (obj.Identity.BirthDate != null)
        {
            try
            {
                DateTime.Parse(obj.Identity.BirthDate);
            }
            catch (Exception)
            {
                obj.Identity.BirthDate = "1900-01-01";
            }
        }

        if (EditMode)
        {
            if (Id is not null)
            {
                await AliasService.UpdateAliasAsync(obj, Id.Value);
            }
        }
        else
        {
            Id = await AliasService.InsertAliasAsync(obj);
        }

        IsSaving = false;
        StateHasChanged();

        if (Id == Guid.Empty)
        {
            // Error saving, do not navigate.
            return;
        }

        Navigation.NavigateTo("/alias/" + Id);


    }
}
